//SECTION ABOUT

section {
    margin: 196px 0 196px 0;
    position: relative;
    @include tablet {
        margin: 95px auto 95px auto;
    }
}

.container {
    @include tablet {
        width: 90%;
    }
}


h3.about {
    @include heading(right, $right: 0);
}

p.about{
    @include p_tag(left);
}


img.section_img {
    margin: 70px 0 0 0;
    width: 142px;
    height: auto;
    @include tablet {
        position: relative;
        display: block;
        margin: 0 auto 30px auto;
        width: 104px;
        height: auto;
    }
}